<div class="container">

<h1 class="paragraph-title">Your bookings</h1>

<p class="paragraph">Find below your current, pending and past bookings.</p>

<%= render "pages/card-index-booking" %>


</div>
