<div class="container">
  <div class="row justify-content-center">
    <div class="col-5 mb-3 border border-1 p-5 bg-light shadow">
      <h1 class="paragraph-title text-center">Book </h1>

     <p class="paragraph">All our arts are available for rent. Choose the one you'd like to bring home to brag.</p>

     <%= render "/pages/form-booking"%>

   </div>
 </div>

</div>
