<h1>Pending request</h1>
<p>Thank you for booking <%= @art.title %>.</p>
<p>Your request is currently pending. The owner will get back to you very soon.</p>

displayed when form submitted
    start and end dates
    submission date
    total price
    text "waiting for owner validation"
