<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active  bs-nav-tabs-border-width: bg-body-secondary" id="booked-tab" data-bs-toggle="tab" data-bs-target="#booked" type="button" role="tab" aria-controls="booked" aria-selected="true">
      Validated bookings
    </button>
  </li>

  <li class="nav-item" role="presentation">
    <button class="nav-link bs-nav-tabs-border-width: bg-body-secondary " id="pending-bookings-tab" data-bs-toggle="tab" data-bs-target="#pending-bookings" type="button" role="tab" aria-controls="pending-bookings" aria-selected="false">
      Pending bookings
    </button>
  </li>

   <li class="nav-item" role="presentation">
    <button class="nav-link" id="declined-bookings-tab" data-bs-toggle="tab" data-bs-target="#declined-bookings" type="button" role="tab" aria-controls="declined-bookings" aria-selected="false">
      Declined-bookings
    </button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <!-- Booked Tab Pane -->
  <div class="tab-pane fade show active" id="booked" role="tabpanel" aria-labelledby="booked-tab">
     <% @booking_validated.each do |art| %>
        <%= render "pages/card-index-booking", art: art %>
      <% end %>
  </div>

  <!--Pending Bookings Tab Pane -->
  <div class="tab-pane fade" id="pending-bookings" role="tabpanel" aria-labelledby="pending-bookings-tab">
    <div class="container-md m-2 p-3">
      <% @booking_pending.each do |art| %>
        <%= render "pages/card-index-booking", art: art %>
      <% end %>
    </div>
  </div>

  <!-- Pending Bookings Tab Pane -->


  <div class="tab-pane fade show active" id="declined-bookings" role="tabpanel" aria-labelledby="declined-bookings-tab">
     <% @booking_declined.each do |art| %>
        <%= render "pages/card-index-booking", art: art %>
      <% end %>
  </div>

</div>
