<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active  bs-nav-tabs-border-width: bg-body-secondary" id="booked-tab" data-bs-toggle="tab" data-bs-target="#booked" type="button" role="tab" aria-controls="booked" aria-selected="true">
      Booked
    </button>
  </li>

  <li class="nav-item" role="presentation">
    <button class="nav-link bs-nav-tabs-border-width: bg-body-secondary " id="pending-bookings-tab" data-bs-toggle="tab" data-bs-target="#pending-bookings" type="button" role="tab" aria-controls="pending-bookings" aria-selected="false">
      Pending bookings
    </button>
  </li>
   <li class="nav-item" role="presentation">
    <button class="nav-link" id="booked-validator-tab" data-bs-toggle="tab" data-bs-target="#booked-validator" type="button" role="tab" aria-controls="booked-validator" aria-selected="false">
      booked-validator
    </button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <!-- Booked Tab Pane -->
  <div class="tab-pane fade show active" id="booked" role="tabpanel" aria-labelledby="booked-tab">
    <%= render "pages/card-index-booking" %>
  </div>

  <!-- My Arts to Book Tab Pane -->
  <div class="tab-pane fade" id="arts-to-book" role="tabpanel" aria-labelledby="arts-to-book-tab">
    <div class="container-md m-2 p-3">
      <% @arts_pending.each do |art| %>
        <%= render "pages/card-art-to-book", art: art %>
      <% end %>
    </div>
  </div>

  <!-- Pending Bookings Tab Pane -->
  <div class="tab-pane fade" id="pending-bookings" role="tabpanel" aria-labelledby="pending-bookings-tab">
    <p>Content for pending bookings...</p>
  </div>

  <div class="tab-pane fade show active" id="booked-validator" role="tabpanel" aria-labelledby="booked-validator-tab">
    <p>to code the logic oh the owner that must validate or no the bookings </p>
  </div>

</div>
