


<footer class="footer">
    <div class="footer-top">
        <div class="logo">
            <%= image_tag "logo.png", class: "logo-footer" %>
        </div>
        <div class="address">
            <p>14, rue Crespin du Gast</br>
            75011 Paris</p>
        </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="footer-bottom">
        <div class="copyright">
            <p>2024 Art'BnB®. All Right Reserved.</p>
        </div>
        <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</footer>
