<h1>Book <%=  @art.title %></h1>

form (simple_form): #invisible form activated with button (JS)
  calendar with:
    input start_date
    input end_date
  validations (must have input dates, must be logged in)
  send button => validation modals
