<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), /Users/pierresongy/code/pierresongy/Art-BnB/app/assets/images/cene-banner.jpg">
  <div class="container">
    <h1>Art'BnB</h1>
    <h2>Book'n'Brag</h2>
    <p>Book your favorite masterpiece for a night and impress your guests!</p>
  </div>
</div>
