<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <img class="logo-navbar" style="height: 40px; border-radius: 4px;" src="/assets/logo-840b563e9646baa3c6e5af83c55f3ebec4f05d06ec0425c9c395d1a3c5d17f79.png">
    <div class="d-flex ms-auto me-auto w-50">
      <form class="d-flex w-100 custom-search" action="/arts" accept-charset="UTF-8" method="get" data-dashlane-rid="bc0b773e9ec93a31">
        <input type="text" name="query" id="query" class="form-control w-100" placeholder="Type your art search" data-dashlane-rid="6556b9238eb00112">
        <input type="submit" name="" value="Search" class="btn btn-secondary ms-0" data-disable-with="Search" data-dashlane-rid="b93e4c51b3942aeb">
</form>    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/arts">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
         <li class="nav-item">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" data-bs-haspopup="true" data-bs-expanded="false" alt="Profile picture" src="/assets/profile-picture-67292d3595a8f583b2394b25344b2952183aff63908969586bf4959e5152be4c.png" aria-expanded="false">
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users/sign_up">Sign up</a>
            <a class="dropdown-item" href="/users/sign_in">Log in</a>
            <a class="dropdown-item" data-turbo-method="delete" href="/users/sign_out">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
