
<div class="container-md">

<h1 class="paragraph-title">Dashboard</h1>

<p class="paragraph">My bookings</p>

<%= render "pages/dashboard-nav" %><br><br>

<p class="paragraph">My Art-Pieces</p>

<%= render partial: "pages/dashboard-nav-myarts", locals: { arts: @arts } %>

</div>
