<h1>Art'BnB</h1>
<h2>Book'n'Brag</h2>

# Navbar (including sign up and log in) # to code in application layout
# Big banner
# Listing of insolite / most wanted arts => redirect to show art
# Button to see all listings => redirect to index
# Button to create offer => redirect to new offer
# Footer
