<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://img2.freepng.fr/20180218/iow/av13n8aa8.webp');"> %>
<%= render "homepage-banner" %>

<div class="container">

<h2 class="paragraph-title">Top trending arts</h2>

<p>All types of art pieces are available for rent on Art'BnB.</p>
<p>Pick the one you love to pimp your living-room!</p>


<p>
# Super images ici.
</p>

<%# Carousel Bootstrap %>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<%# Buttons %>

<%= link_to "See arts for rent", arts_path, class: "btn btn-ghost" %>
<%= link_to "Register a new art", new_art_path, class: "btn btn-ghost" %>


</div>
