<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://img2.freepng.fr/20180218/iow/av13n8aa8.webp');"> %>
<%= render "homepage-banner" %>

<div class="container">

<h2 class="paragraph-title">Top trending arts</h2>

<p>All types of art pieces are available for rent on Art'BnB.</p>
<p>Pick the one you love to pimp your living-room!</p>


<p>
# Super images ici.
</p>


<%= link_to "See arts for rent", arts_path, class: "btn btn-ghost" %>



<%= link_to "Register a new art", new_art_path, class: "btn btn-ghost" %>


</div>
