
# Navbar (including sign up and log in) # to code in application layout
# Button to create offer => navbar
# Filters / search bar => redirect to search view
# Listing of cards => redirect to show art

# Footer

<%# RAILS DEFAULT COMMENTS %>
<%# <p>Find me in app/views/pages/home.html.erb</p> %>
