<h1>
<%= @art.title %>
</h1>

art card with:
  title
  art_category
  art_picture
  artist_name
  creation_date
  price_per_day

button CTA booking => booking
  invisible form activated with button (JS)
  form (render)

confirmation card (render)
  form and button disappear

<%= link_to "Back to all arts", #index_path %>
