<div class="container-md">

<h1 class="paragraph-title">Gallery for rent</h1>

<p class="paragraph">All our arts are available for rent. Choose the one you'd like to bring home to brag.</p>


<%= render "pages/card-new-art" %>

</div>
