<div class="container-md">

<h1 class="paragraph-title">Gallery for rent</h1>

<p class="paragraph">All our arts are available for rent. Choose the one you'd like to bring home to brag.</p>

<%# <div class="row justify-content-center"> %>
  <%# <div class="col-sm-8 my-3"> %>
    <%# <%= form_with url: arts_path, method: :get, class: "d-flex" do %>
      <%# <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type your search"
        %>
      <%# <%= submit_tag "Search", name: "", class: "btn btn-secondary" %>
    <%# <% end %>
  <%# </div>
</div> %>


<%= render "pages/card-new-art" %>

</div>
