<%# <%= render "pages/form-new-art" %>

<div class="container">

<h1 class="paragraph-title">Register a new piece of art</h1>

<p class="paragraph">You are the lucky owner of a masterpiece?
</br>You could make money from it, thanks to Art'BnB.</p>

</div>
