<div class="d-flex flex-column align-items-center">

  <h1 class="paragraph-title">Book "<%= @art.title %>"!</h1>

  <p class="paragraph">Fancy <strong><em><%= @art.title %> </em></strong> ?</p>
  <p class="paragraph">Bring <%= @art.name %>'s masterpiece home tonight!
  </br>Nothing's more simple.</p>


  <%= render "pages/card-show-art" %>

</div>
