.container {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.container-home {
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 20px;
}

.horizontal-card-home {
  // margin-left: 20px;
  // margin-right: 20px;
  // margin-bottom: 40px;
  // background-color: white;
}

.background-1 {
  background-color: rgb(249, 249, 249);
}

.background-2 {
  background-color: #ffde9f;
  margin-bottom: 0;
}
