// .no-container {
//   width: 100%;  /* Prendre toute la largeur de l'écran */
//   padding: 0;   /* Pas de padding */
//   max-width: none;  /* Annuler la largeur max */
// }

// .no-container .container {
//   width: 100% !important;  /* S'assurer que .container occupe toute la largeur */
//   padding: 0 !important;   /* Supprimer tout padding éventuel */
//   max-width: none !important;  /* Désactiver la largeur max */
// }



.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  opacity: 0.9;
}
.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 72px;
  font-weight: bold;
}

.banner h2, h3, h4, h5, h6 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 52px;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  margin-left: 62px;
  font-weight: bold;
  margin-bottom: 48px;
}

.text-overlay p {
  font-size: 28px;
  color: white;
  // opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.text-overlay {
  z-index: 1;
  position: absolute;
  // top: 0; /* L'overlay commence exactement au niveau du texte */
  // left: 0; /* L'overlay commence exactement à gauche du texte */
  // width: 100%; /* L'overlay prend la largeur du texte */
  // height: 100%;
  margin-left: 62px;
  background-color: rgba(211, 211, 211, 0.55);
  padding: 10px 20px;
  border-radius: 5px;
}

.text-overlay-index p {
  font-size: 28px;
  color: white;
  // opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  // position: relative;
  z-index: 2;
}

.text-overlay-index {
  z-index: 1;
  // position: absolute;
  // top: 0; /* L'overlay commence exactement au niveau du texte */
  // left: 0; /* L'overlay commence exactement à gauche du texte */
  // width: 100%; /* L'overlay prend la largeur du texte */
  // height: 100%;
  // margin-left: 62px;
  background-color: rgba(211, 211, 211, 0.55);
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 100px;
}
