.paragraph-column {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 30px;
  text-align: center;
}

.paragraph {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 30px;
}
